* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
}
.choicer {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: end;
}
.choicer__choice {
  width: 120px;
  height: 60px;
  border-radius: 12px 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2e2e2;
  font-size: 20px;
}
.choicer__choice_aktive {
  width: 140px;
  height: 70px;
  background: #e9e9e9;
  font-size: 24px;
}

.box {
  width: 1280px;
  height: 720px;
  background: #e9e9e9;
  border-radius: 24px;
  margin-right: 140px;
}

.box3days {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.box3days__day {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 26px;
}
.box3days__day_date {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 200;
}
.box3days__day_date_aktive {
  font-weight: 500;
}

.box3days__day_date p {
  font-size: 32px;
}
.box3days__day_tasks {
  width: 380px;
  height: 520px;
  border-radius: 12px;
  background: #bcbcbc;
}
.box3days__day_tasks_addtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d9d9d9;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  margin-bottom: 20px;
}
.box3days__day_tasks_addtask input {
  border: none;
  outline: none;
  background: transparent;
}

.box3days__day_tasks_addtask button {
  border: none;
  outline: none;
  padding: 6px 26px;
  border-radius: 12px;
  background: #e9e9e9;
  font-size: 16px;
}
.box3days__day_tasks ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.box3days__day_tasks ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 12px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
}
.box3days__day_tasks_list_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
}
.box3days__day_tasks_list_icons-do {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #e7f341;
  cursor: pointer;
}
.box3days__day_tasks_list_icons-do_cheked {
  background: #e7f341;
}
.box3days__day_tasks_list_icons-done {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #39e63e;
  cursor: pointer;
}
.box3days__day_tasks_list_icons-done_cheked {
  background: #39e63e;
}
.box3days__day_tasks_list_icons img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
